<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="../theme/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap" rel="stylesheet">  -->
</head>

<body>
    <header>
        <!--NavBar Section-->
        <div class="brand">FORUM ANS</div>

        
    </header>


    <div class="container">
        <div class="subforum">
            <div class="subforum-title">
                <h1>Logowanie</h1>
            </div>
            <div class="subforum-row">
                <div class="subforum-icon subforum-column center">
                    <label>E-mail</label>
                </div>
                <div class="subforum-description subforum-column">
                    <input class="input" v-model="email" type="text">
                </div>
               
            </div>
            <div class="subforum-row">
                <div class="subforum-icon subforum-column center">
                    <label>Password</label>
                </div>
                <div class="subforum-description subforum-column">
                    <input class="input" v-model="password" type="password">
                </div>
               
            </div>
        </div>
        <div class="subforum-icon subforum-column center button" v-on:click="login">
            Login
        </div>
        
        <p>Nie masz konta? <router-link to="/registration">Stwórz je.</router-link></p>
        <!--More-->

        
        <!---->
    </div>

    <footer>
        <span>&copy; Projekt Zespołowy 2022, Grupa 2 | All Rights Reserved</span>
    </footer>
    <!-- <script src="main.js"></script> -->
</body>

</html>
